{% extends 'base.html' %}
{% block title %}Create a new post{% endblock %}
{% block stylesheet %}{% endblock %}
{% block content %}
    <div class="wrapper">
    <div class="container">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <!-- Material form login -->
                    <div class="card">

                      <h5 class="card-header info-color white-text text-center py-4">
                        <strong>Write a seeking post</strong>
                      </h5>

                      <!--Card content-->
                      <div class="card-body px-lg-5 pt-0">
                        {% if messages %}
                            <div class="messages">
                                {% for message in messages %}
                                    <div {% if message.tags %} class="{{ message.tags }} alert-dismissible fade show"{% endif %}  role="alert">{{ message }}
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                    </button></div>
                                {% endfor %}
                            </div>
                        {% endif %}
                        <!-- Form -->
                        <form action="" method="POST" class="text-center" style="color: #757575;" enctype="multipart/form-data">
                            {% csrf_token %}

                            <div class="md-form mt-3">
                                <input type="text" id="title" name="title" class="form-control">
                                <label for="title">Name</label>
                            </div>

                            <div class="md-form mt-3">
                                <textarea id="description" name="description" class="form-control md-textarea" rows="3"></textarea>
                                <label for="description">description</label>
                            </div>


                            <div class="md-form mt-3">
                                <input type="file" id="image" name="image" class="form-control">
                                <label for="image">Image</label>
                            </div>

                            <div class="md-form mt-3">
                                <input type="number" id="amount" name="amount" class="form-control">
                                <label for="amount">Amount</label>
                            </div>
                          <!-- Sign in button -->
                          <button class="btn btn-outline-info btn-rounded btn-block my-4 waves-effect z-depth-0">Publish</button>

                        </form>
                        <!-- Form -->

                      </div>

                    </div>
                    <!-- Material form login -->
                </div>
                <div class="col-md-3"></div>
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}{% endblock %}
