{% extends 'base.html' %}
{% block title %}Please login to your account{% endblock %}
{% block stylesheet %}
    <style>
    .wrapper {
    margin-top: 95px;
}
    nav.navbar {
    background-color: #1C2331;
}
    </style>
{% endblock %}
{% block content %}
 {% load crispy_forms_tags %}
    <div class="wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <!-- Material form login -->
                    <div class="card">

                      <h5 class="card-header info-color white-text text-center py-4">
                        <strong>Update profile</strong>
                      </h5>

                      <!--Card content-->
                      <div class="card-body px-lg-5 pt-0">
                        {% if messages %}
                            <div class="messages">
                                {% for message in messages %}
                                    <div {% if message.tags %} class="{{ message.tags }} alert-dismissible fade show"{% endif %}  role="alert">{{ message }}
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                    </button></div>
                                {% endfor %}
                            </div>
                        {% endif %}
                        <!-- Form -->
                        <form action="" method="POST" class="text-center" style="color: #757575;" enctype="multipart/form-data">
                            {% csrf_token %}
                          <!-- Email -->
                          {% for f in form %}
                          <div class="md-form">
                            {{ f }}
                            {{ f.label_tag }}
                          </div>
                          {% endfor %}
                          <!-- Sign in button -->
                          <button class="btn btn-outline-info btn-rounded btn-block my-4 waves-effect z-depth-0">Update info</button>

                          <!-- Register -->
                          <p>
                            <a href="{% url 'seeker:index' %}">Skip</a>
                          </p>

                        </form>
                        <!-- Form -->

                      </div>

                    </div>
                    <!-- Material form login -->
                </div>
                <div class="col-md-3"></div>
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
<script>
  $(document).ready(function() {
      $('form input').addClass('form-control');
      $('form select').addClass('form-control');
    });
</script>
{% endblock %}